
<p-panel header="Pipes básicos" class="p-1">
    <p>
        Pipes incluidos en Angular -Usualmente en el Common Module
    </p>
</p-panel>

<div class="grid mt-2">
    <div class="col-12 md:col-4">
        <p-card header="uppercase">
            {{ nameLower }} - {{ nameLower | uppercase }}
        </p-card>
    </div>
    <div class="col-12 md:col-4">
        <p-card header="lowercase">
            {{ nameUpper }} - {{ nameUpper | lowercase }}
        </p-card>
    </div>
    <div class="col-12 md:col-4">
        <p-card header="titlecase">
            {{ fullName }} - {{ fullName | titlecase }}
        </p-card>
    </div>
</div>